/* --------- Main Local --------- */

.Local_Art_Contacto {
    text-align: center;
}

.Local_DatosContacto {
    line-height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
}

.iframe__ubicacion {
    display: none;
}
